/* Basic Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width: auto;
  margin: 40px auto;
}

div {
  flex: 1 0 6.25%;
  aspect-ratio: 1/1;
  border: 1px solid black;
}
